<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
 
<suite name="SuiteXML" verbose="1" >
    <test name="RegressionXML"   >
        <packages>
            <package name="com.blade.tests" />
        </packages>
        <listeners>
            <listener class-name="com.blade.lib.RuntimeReporter" />
        </listeners>

    </test>
</suite>